.grup9__title {
  color: var(--color-textos-principal);
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin-top: 209px;
}
