@keyframes opacidad {
  0% {
  }
  100% {
    background-color: rgba(40, 44, 47, 0.5);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  height: 740px;
  margin: 92px auto;
  border-radius: 5px;
}
