@keyframes opacidad {
  0% {
  }
  100% {
    background-color: rgba(40, 44, 47, 0.7);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  display: flex;
  justify-content: center;
  margin: 92px 0 92px;
}
